<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="EduardoBraga.JusteXtraLight"
	  Publisher="CN=7C650FF2-F08B-40D9-8C5B-3C0C7B8817AB"
	  Version="0.1.1.0" />

	<mp:PhoneIdentity PhoneProductId="71d29c72-037e-48bb-8e70-51bf115f1c8c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Just eXtra Light</DisplayName>
		<PublisherDisplayName>Eduardo Braga</PublisherDisplayName>
		<Logo>Assets\Package icons\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
	</Dependencies>

	<Resources>
		<Resource Language="en-US"/>
		<Resource Language="pt-BR"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="Just eXtra Light"
			  Description="Just eXtra Light is an application to convert images to the JPEG XL (.jxl) with a focus on converting in bulk"
			  BackgroundColor="transparent"
			  Square150x150Logo="Assets\Package icons\Square150x150Logo.png"
			  Square44x44Logo="Assets\Package icons\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Assets\Package icons\Wide310x150Logo.png"  Square71x71Logo="Assets\Package icons\SmallTile.png" Square310x310Logo="Assets\Package icons\LargeTile.png"/>
				<uap:SplashScreen Image="Assets\Package icons\SplashScreen.png" />
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/>
					<uap:Rotation Preference="landscapeFlipped"/>
				</uap:InitialRotationPreference>
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>
</Package>
